---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/sections/Hero.astro";
import PhotoAlbum from "@/sections/PhotoAlbum.astro";
import Music from "@/components/Music.astro";
---

<Layout title="Couple-box">
	<main>
		<Music />
		<Hero />
		<PhotoAlbum />
	</main>
</Layout>

<style></style>
