---
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";
import { SignIn, SignOut } from "auth-astro/components";
import imgInfo from "@/post.ts";

import Hero from "@/sections/Hero.astro";
import PhotoAlbum from "@/sections/PhotoAlbum.astro";
import Music from "@/components/Music.astro";
import Login from "@/components/Login.astro";

const session = await getSession(Astro.request);
---

<Layout title="Couple-box">
	<main>
		<Music />
		<Hero />
		{session ? <PhotoAlbum {imgInfo} /> : <Login />}
	</main>
</Layout>

<style></style>
