<button
    class="flex items-center justify-center p-4 bg-secondary rounded-lg border-8 border-slate-400 opacity-10 transform transition-transform; transition-opacity duration-100 hover:scale-105 hover:opacity-30 cursor-pointer"
    onclick="redirect()"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-12 w-12 text-gray-500"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width={2}
    >
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"
        ></path>
    </svg>
</button>
<script is:inline>
    function redirect() {
        window.location.href = "/AddPost";
    }
</script>
