---
interface Props {
    imgInfo: {
        src: string;
        alt: string;
        post: string;
    }[];
}

import AddButton from "@/components/AddButton.astro";

const { imgInfo = [] } = Astro.props;
---

<section class="max-w-full min-h-screen text-center">
    <div
        id="animatedDiv"
        class="w-full h-max bg-primary transition-colors duration-700 p-4 flex flex-col"
    >
        <h2 class="text-white text-6xl mt-10 mb-20">PhotoAlbum</h2>
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 max-w-7xl mx-auto"
        >
            {
                imgInfo.map((img) => (
                    <a href={`/posts/${img.post}`}>
                        <img
                            src={img.src}
                            alt={img.alt}
                            class="rounded-lg transform transition-transform duration-100 hover:scale-105 cursor-pointer"
                        />
                    </a>
                ))
            }
            <AddButton />
        </div>
    </div>
</section>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const animatedDiv = document.getElementById("animatedDiv");
        const container = document.getElementById("container");

        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    animatedDiv.classList.add("bg-secondary");
                    container?.classList.add("opacity-0");
                    animatedDiv.classList.remove("bg-primary");
                } else {
                    animatedDiv.classList.add("bg-primary");
                    container?.classList.remove("opacity-0");
                    animatedDiv.classList.remove("bg-secondary");
                }
            });
        });

        observer.observe(animatedDiv);
    });
</script>
